button {
  background-color:#ffffff;
		color: #000000;
		padding: 10px;
		font-size: 20px;
		margin: 10px;
		border: 1px solid black;
		border-radius: 3px;
}

table {
  min-width: 500px;
}

th {
  background-color: black;
  color: white;
}

input {
  margin: 10px;
  padding: 10px;
  width: 20em;
}

td, p, th, body {
  font-size: 24px;
  /* font-family: 標楷體; */
}